._rlayers_ROverlay:has(.map-tooltip){
    pointer-events: none !important;
}
._rlayers_ROverlay:has(.map-tooltip) > div{
    pointer-events: none !important;
}
.ol-overlay-container:has(.map-tooltip) {
    pointer-events: none !important;
}